body {
    padding-top: 49px;
    background-color: #f8f8f8;
}

table {
    table-layout: fixed;
}

table th, table td {
    overflow: hidden;
}

textarea {
    resize: none;
}

th {
    text-align: center;
}

.form-control[disabled] {
    cursor: default;
}

#content {
    border: #e7e7e7 solid 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 80%;
    margin: 0 auto;
    background-color: #f1f1f1;
    display: none;
}

#question {
    color: #285e8e;
}

.general-information {
    font-weight: bold;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.general-information-right {
    float: right;
}

.button-bottom {
    margin: 0 10px 10px 10px;
}

.input-group-poll {
    padding: 10px 10px 10px 10px;
}

.table {
    margin-bottom: 0;
}

.text-center {
    margin: 0 auto;
    text-align: center;
}

.input-group-addon {
    min-width: 45px;
}